body {
	min-width: 990px
}

.root1200 body {
	min-width: 1190px
}

.index-head-active {
	display: none;
	position: relative;
	z-index: 7684;
	float: right;
	margin-top: 10px
}

.root1200 .index-head-active {
	display: block
}

.index-head-active img {
	display: block;
	width: 180px;
	height: 100px
}

#_TOP_BANNER_ {
	font-size: 0
}

.top-active {
	position: relative;
	z-index: 9999;
	clear: both;
	width: 100%;
	min-width: 990px;
	font-size: 0
}

.root1200 .top-active {
	min-width: 1190px
}

.top-active-wrap {
	position: relative;
	width: 100%;
	overflow: hidden
}

.top-active-wrap img {
	display: block;
	width: 990px;
	margin: 0 auto
}

.root1200 .top-active-wrap img {
	width: 1190px
}

.top-active .btn {
	position: absolute;
	top: 3px;
	right: 42px;
	width: 15px;
	height: 15px;
	background: url(../img/css-img/index.png) 0 0;
	overflow: hidden
}

.top-active .btn:hover {
	background-position: -15px 0
}

.top-active .btn-open {
	background-position: 0 -15px
}

.top-active .btn-open:hover {
	background-position: -15px -15px
}

.first-screen {
	position: relative;
	width: 100%;
	min-width: 990px;
	height: 450px
}

.root1200 .first-screen {
	min-width: 1190px
}

.first-screen .banner {
	position: relative;
	z-index: 50;
	width: 100%;
	height: 450px;
	overflow: hidden;
}

.first-screen .banner-btn {
	display: none;
	position: absolute;
	z-index: 100;
	top: 183px;
	left: 50%;
	width: 50px;
	height: 84px;
	cursor: pointer;
	overflow: hidden
}

.first-screen .banner-btn .btn-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 50px;
	height: 84px;
	background: #000;
	opacity: .15;
	filter: alpha(opacity=15);
	-webkit-transition: opacity .2s linear 0;
	transition: opacity .2s linear 0
}

.first-screen .banner-btn:hover .btn-bg {
	opacity: .2;
	filter: alpha(opacity=20)
}

.first-screen .banner-btn .arr {
	position: absolute;
	z-index: 2;
	top: 26px;
	width: 17px;
	height: 34px;
	background: url(../img/css-img/index.png) no-repeat;
	overflow: hidden
}

.first-screen .banner-prev {
	margin-left: -295px
}

.root1200 .first-screen .banner-prev {
	margin-left: -395px
}

.first-screen .banner-prev .arr {
	left: 16px;
	background-position: -32px 0
}

.first-screen .banner-next {
	margin-left: 445px
}

.root1200 .first-screen .banner-next {
	margin-left: 345px
}

.first-screen .banner-next .arr {
	right: 16px;
	background-position: -50px 0
}

.first-screen .banner-pic li {
	display: none;
	position: absolute;
	z-index: 60;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px
}

.first-screen .banner-pic li a {
	position: absolute;
	left: 50%;
	width: 750px;
	height: 450px;
	margin-left: -280px
}

.root1200 .first-screen .banner-pic li a {
	margin-left: -375px
}

.first-screen .banner-pic li img {
	display: block;
	width: 750px;
	height: 450px
}

.first-screen .banner-ctrl {
	position: absolute;
	z-index: 80;
	bottom: 10px;
	left: 50%;
	width: 810px;
	height: 40px;
	margin-left: -295px
}

.root1200 .first-screen .banner-ctrl {
	margin-left: -395px
}

.first-screen .banner-ctrl li {
	display: inline;
	position: relative;
	float: left;
	width: 71px;
	height: 40px;
	margin-left: 1px
}

.first-screen .banner-ctrl li.first {
	width: 70px;
	margin-left: 0
}

.first-screen .banner-ctrl li .bg {
	position: absolute;
	z-index: 5;
	top: 0;
	width: 100%;
	height: 40px;
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30);
	-webkit-transition: all .3s;
	transition: all .3s
}

.first-screen .banner-ctrl li.current .bg {
	top: -10px;
	height: 50px;
	opacity: .65;
	filter: alpha(opacity=65)
}

.first-screen .banner-ctrl li .ctrl-dot {
	display: none;
	position: absolute;
	z-index: 7;
	top: -4px;
	width: 100%;
	height: 4px;
	text-align: center
}

.first-screen .banner-ctrl li.current .ctrl-dot {
	display: block
}

.first-screen .banner-ctrl li .ctrl-dot i {
	display: inline-block;
	width: 8px;
	height: 4px;
	*margin-right: 3px;
	background: #fff;
	vertical-align: top;
	overflow: hidden
}

.first-screen .banner-ctrl li .ctrl-dot i.on {
	background: #fa0
}

.first-screen .banner-ctrl li .title-item {
	display: none;
	position: absolute;
	z-index: 8;
	bottom: 40px;
	left: 0;
	width: 223px;
	height: auto;
	overflow: hidden;
	-webkit-transition: all .3s;
	transition: all .3s
}

.first-screen .banner-ctrl li .title-item .title-bg {
	position: absolute;
	z-index: 1;
	width: 223px;
	height: 200px;
	background: #000;
	opacity: .65;
	filter: alpha(opacity=65)
}

.first-screen .banner-ctrl li .title-item .title-list {
	position: relative;
	z-index: 2;
	padding: 8px 10px 2px 13px
}

.first-screen .banner-ctrl li .title-item p {
	height: 18px;
	margin-bottom: 6px;
	overflow: hidden
}

.first-screen .banner-ctrl li .title-item p i {
	display: inline-block;
	width: 8px;
	height: 4px;
	margin-right: 8px;
	background: #fff;
	vertical-align: middle;
	overflow: hidden
}

.first-screen .banner-ctrl li .title-item p.now i {
	background: #fa0
}

.first-screen .banner-ctrl li .title-item p a {
	display: inline-block;
	width: 180px;
	height: 18px;
	color: #ddd;
	vertical-align: middle;
	overflow: hidden
}

.first-screen .banner-ctrl li .title-item p a:hover {
	color: #f60
}

.first-screen .banner-ctrl li h4 {
	position: absolute;
	z-index: 6;
	top: 0;
	width: 100%;
	height: 40px;
	color: #fff;
	font-weight: normal;
	line-height: 40px;
	text-align: center;
	cursor: default;
	overflow: hidden
}

.first-screen .banner-ctrl li.mouse-hover .bg {
	top: 0;
	height: 40px
}

.first-screen .banner-ctrl li.mouse-hover .ctrl-dot {
	display: none
}

.first-screen .banner-ctrl li.mouse-hover .title-item {
	display: block
}

.first-screen .banner-ctrl li.ctrl08 .title-item,
.first-screen .banner-ctrl li.ctrl09 .title-item,
.first-screen .banner-ctrl li.ctrl10 .title-item {
	left: -152px
}

.first-screen .show-case {
	position: absolute;
	z-index: 60;
	top: 0;
	left: 50%;
	width: 190px;
	margin-left: 305px;
	overflow: hidden
}

.root1200 .first-screen .show-case {
	top: 10px;
	margin-left: 404px
}

.first-screen .show-case .box-all {
	position: relative;
	height: 0;
	overflow: hidden
}

.root1200 .first-screen .show-case .box-all {
	height: auto
}

.first-screen .show-case .title {
	position: relative;
	height: 40px;
	padding-left: 14px;
	border-bottom: 1px solid #eee;
	background: #fff;
	font: 14px/40px 'microsoft yahei';
	overflow: hidden
}

.first-screen .show-case .up-title {
	display: block;
	padding-left: 0;
	background: 0;
	text-align: center;
	cursor: pointer
}

.root1200 .first-screen .show-case .up-title {
	display: none
}

.first-screen .show-case .title .bg {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 100%;
	height: 40px;
	background: #fff;
	opacity: .9;
	filter: alpha(opacity=90)
}

.first-screen .show-case .title .main {
	position: absolute;
	z-index: 2;
	left: 0;
	width: 100%;
	height: 40px
}

.first-screen .show-case .title i {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	background: url(../img/css-img/index.png) 0 -31px;
	vertical-align: middle;
	overflow: hidden
}

.first-screen .show-case .title em {
	display: inline-block;
	vertical-align: middle
}

.first-screen .show-case .notice {
	position: relative;
	height: 155px;
	border-bottom: 1px solid #eee;
	overflow: hidden
}

.first-screen .show-case .notice .bg {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 155px;
	background: #fff;
	opacity: .9;
	filter: alpha(opacity=90);
	overflow: hidden
}

.first-screen .show-case .notice .list {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 145px;
	padding-top: 10px;
	overflow: hidden
}

.first-screen .show-case .notice .list li {
	height: 18px;
	margin: 0 10px 9px 15px;
	line-height: 18px;
	overflow: hidden
}

.first-screen .show-case .notice .list li a {
	color: #666
}

.first-screen .show-case .notice .list li.hot a {
	color: #f60
}

.first-screen .show-case .notice .list li a:hover {
	color: #f60;
	text-decoration: none
}

.first-screen .show-case .notice .list li a i {
	font-family: 'microsoft yahei'
}

.first-screen .show-case .notice .list li a:hover em {
	text-decoration: underline
}

.first-screen .show-case .life {
	position: relative;
	height: 191px;
	border-bottom: 1px solid #eee;
	overflow: hidden
}

.first-screen .show-case .life .bg {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 191px;
	background: #fff;
	opacity: .9;
	filter: alpha(opacity=90);
	overflow: hidden
}

.first-screen .show-case .life .list {
	position: absolute;
	z-index: 2;
	width: 200px;
	height: 191px;
	overflow: hidden
}

.first-screen .show-case .life .list li {
	float: left;
	width: 63px;
	height: 63px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	overflow: hidden
}

.first-screen .show-case .life .list li a {
	display: block;
	width: 62px;
	height: 74px;
	color: #666;
	font-family: 'microsoft yahei';
	text-align: center;
	cursor: pointer;
	overflow: hidden
}

.first-screen .show-case .life .list li a:hover {
	color: #fa0;
	text-decoration: none
}

.first-screen .show-case .life .list li a .ng-iconfont {
	display: block;
	height: 35px;
	color: #666;
	font-size: 26px;
	text-align: center;
	line-height: 42px;
	overflow: hidden
}

.first-screen .show-case .life .list li a:hover .ng-iconfont {
	color: #fa0
}

.first-screen .show-case .btn {
	display: block;
	position: relative;
	width: 100%;
	height: 19px;
	border-bottom: 1px solid #eee;
	background: #fff;
	cursor: pointer;
	overflow: hidden
}

.root1200 .first-screen .show-case .btn {
	display: none
}

.first-screen .show-case .btn i {
	position: absolute;
	left: 87px;
	top: 6px;
	width: 16px;
	height: 8px;
	background: url(../img/css-img/index.png) no-repeat;
	overflow: hidden
}

.first-screen .show-case .btn-down i {
	background-position: 0 -57px
}

.first-screen .show-case .btn-down:hover i {
	background-position: -17px -57px
}

.first-screen .show-case .btn-up i {
	background-position: 0 -48px
}

.first-screen .show-case .btn-up:hover i {
	background-position: -17px -48px
}

.show-case .box-all .title .more {
	position: absolute;
	top: 0;
	right: 10px;
	font: normal 12px/40px \5b8b\4f53;
	color: #666
}

.show-case .box-all .title .more:hover {
	color: #F60
}

.second-screen {
	position: relative;
	height: 420px;
	margin-top: 20px;
	overflow: hidden
}

.second-screen .title {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 190px;
	height: 40px;
	color: #222;
	overflow: hidden
}

.second-screen .title h3 {
	float: left;
	font: bold 20px/40px 'microsoft yahei'
}

.second-screen .title h4 {
	float: left;
	padding-left: 6px;
	font: normal 12px/46px arial
}

.second-screen .col1 {
	position: relative;
	top: 40px;
	float: left;
	width: 188px;
	height: 378px;
	border: 1px solid #eee;
	overflow: hidden
}

.second-screen .col1 img {
	display: block;
	width: 190px;
	height: 380px
}

.second-screen .col2 {
	position: relative;
	top: 20px;
	float: left;
	width: 420px;
	overflow: hidden
}

.second-screen .col2 li {
	font-size: 0
}

.second-screen .col2 .item0 {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background: url(../img/css-img/ju-arrow.png) no-repeat
}

.second-screen .col2 .item1 img {
	display: block;
	width: 420px;
	height: 210px
}

.second-screen .col2 .item2 img {
	display: block;
	width: 400px;
	height: 190px
}

.second-screen .col3 {
	position: relative;
	top: 40px;
	float: left;
	width: 405px;
	height: 378px;
	margin-left: -20px;
	margin-right: -20px;
	border: 1px solid #eee;
	overflow: hidden
}

.second-screen .col3 .line1 {
	position: absolute;
	top: 189px;
	left: 15px;
	width: 368px;
	height: 1px;
	background: #eee;
	overflow: hidden
}

.second-screen .col3 .line2 {
	position: absolute;
	top: 15px;
	left: 199px;
	width: 1px;
	height: 348px;
	background: #eee;
	overflow: hidden
}

.second-screen .col3 li {
	display: inline;
	float: left;
	width: 199px;
	height: 189px;
	background: #fff;
	overflow: hidden
}

.second-screen .col3 li.item2 {
	margin-left: 1px
}

.second-screen .col3 li.item3 {
	margin-top: 1px
}

.second-screen .col3 li.item4 {
	margin-top: 1px;
	margin-left: 1px
}

.second-screen .col3 li img {
	display: block;
	width: 200px;
	height: 190px
}

.second-screen .col4 {
	display: none;
	position: relative;
	top: 40px;
	float: right;
	width: 199px;
	height: 378px;
	margin-left: -20px;
	border: 1px solid #eee;
	overflow: hidden
}

.root1200 .second-screen .col4 {
	display: block
}

.second-screen .col4 li {
	height: 94px;
	border-bottom: 1px solid #eee;
	font-size: 0;
	overflow: hidden
}

.second-screen .col4 li img {
	display: block;
	width: 200px;
	height: 95px
}

.floor-financial {
	height: 280px;
	margin-top: 20px;
	overflow: hidden
}

.financial-head {
	height: 40px;
	color: #222;
	overflow: hidden
}

.financial-head h3 {
	float: left;
	font: bold 20px/40px 'microsoft yahei'
}

.financial-head h4 {
	float: left;
	padding-left: 6px;
	font: normal 12px/46px arial
}

.financial-main {
	height: 240px;
	background: #f8f8f8;
	overflow: hidden
}

.financial-main .col1 {
	position: relative;
	float: left;
	width: 190px;
	height: 240px;
	overflow: hidden
}

.financial-main .col1 .layer {
	top: 240px;
	left: 0;
	position: absolute;
	width: 190px;
	height: 240px;
	overflow: hidden
}

.financial-main .col1 .layer .bg {
	position: absolute;
	z-index: 4;
	left: 0;
	width: 190px;
	height: 240px;
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30);
	overflow: hidden
}

.financial-main .col1 .yifubao {
	position: relative;
	z-index: 5;
	width: 120px;
	height: 143px;
	margin: 27px 0 0 38px;
	background: #fff;
	overflow: hidden
}

.financial-main .col1 .yifubao img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 14px 10px 3px
}

.financial-main .col1 .yifubao p {
	height: 18px;
	color: #222;
	text-align: center;
	overflow: hidden
}

.financial-main .col1 .yifubao p a {
	color: #222
}

.financial-main .col1 .yifubao p a:hover {
	color: #f60
}

.financial-main .col1 .btn {
	display: block;
	position: relative;
	z-index: 5;
	width: 120px;
	height: 35px;
	margin: 16px 0 0 38px;
	background: #ff4250;
	color: #fff;
	font: 14px/35px 'microsoft yahei';
	text-align: center;
	overflow: hidden
}

.financial-main .col2 {
	float: left
}

.financial-main .col2 img {
	display: block;
	width: 400px;
	height: 240px
}

.financial-main .col3 {
	float: left;
	width: 410px;
	margin-right: -10px;
	padding-top: 10px;
	overflow: hidden
}

.financial-main .col3 li {
	display: inline;
	float: left;
	width: 188px;
	height: 218px;
	margin-left: 10px;
	border: 1px solid #eee;
	background: #fff;
	overflow: hidden
}

.financial-main .col3 img {
	display: block;
	width: 190px;
	height: 220px;
	margin: -1px
}

.financial-main .col4 {
	display: none;
	float: right;
	width: 180px;
	margin-right: 10px;
	padding-top: 10px;
	overflow: hidden
}

.root1200 .financial-main .col4 {
	display: inline
}

.financial-main .col4 li {
	display: inline;
	float: left;
	width: 178px;
	height: 103px;
	margin-bottom: 10px;
	border: 1px solid #eee;
	background: #fff;
	overflow: hidden
}

.financial-main .col4 img {
	display: block;
	width: 180px;
	height: 105px;
	margin: -1px
}

.floor {
	margin-top: 25px
}

.floor-head {
	position: relative;
	height: 48px;
	border-bottom: 1px solid
}

.floor-head .title {
	float: left;
	width: 190px;
	height: 48px;
	color: #222;
	overflow: hidden
}

.floor-head .title h3 {
	height: 48px;
	font: bold 20px/48px 'microsoft yahei';
	overflow: hidden
}

.floor-head .title h3 b {
	padding-right: 8px;
	font-family: arial
}

.floor-head .tab {
	position: absolute;
	top: 13px;
	left: 200px;
	height: 37px;
	overflow: hidden
}

.floor-head .tab li {
	float: left;
	height: 32px;
	margin-right: 50px;
	overflow: hidden
}

.floor-head .tab li.on {
	border-bottom: solid 3px
}

.floor-head .tab li a {
	display: block;
	height: 32px;
	background: #fff;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	_display: inline-block
}

.floor-head .tab li a:hover {
	text-decoration: none
}

.floor-head .tab li.on a {
	height: 35px;
	text-decoration: none
}

.floor-head .tab li a i {
	margin-left: 5px;
	color: #CCC;
	font-size: 22px;
	vertical-align: middle
}

.floor-head .tab li a em {
	color: #666;
	font: 14px/35px 'microsoft yahei';
	vertical-align: middle
}

.floor-head .tab li.on a em {
	color: #222;
	font-weight: bold
}

.floor-head .links {
	float: right;
	width: 550px;
	height: 30px;
	margin-top: 18px;
	font-size: 0;
	text-align: right;
	overflow: hidden
}

.root1200 .floor-head .links {
	width: 750px
}

.floor-head .links a {
	display: inline-block;
	margin-left: 16px;
	color: #666;
	font: 12px/30px 'microsoft yahei';
	white-space: nowrap
}

.floor-head .links a.hot {
	color: #F60
}

.floor-head .links a:hover {
	color: #f60
}

.floor-main {
	position: relative;
	height: 440px;
	overflow: hidden
}

.floor-main .side {
	position: relative;
	float: left;
	width: 190px;
	height: 440px;
	overflow: hidden
}

.floor-main .side .big img {
	display: block;
	width: 190px;
	height: 270px
}

.floor-main .side .entrances {
	position: absolute;
	top: 209px;
	left: 10px;
	width: 175px;
	height: 61px;
	overflow: hidden
}

.floor-main .side .entrances1,
.floor-main .side .entrances2,
.floor-main .side .entrances3 {
	top: 240px;
	height: 30px
}

.floor-main .side .entrances a {
	position: relative;
	float: left;
	width: 85px;
	height: 30px;
	margin: 0 1px 1px 0;
	line-height: 30px;
	color: #fff;
	overflow: hidden
}

.floor-main .side .entrances1 a {
	width: 171px;
	padding-left: 45px
}

.floor-main .side .entrances a:hover {
	text-decoration: none
}

.floor-main .side .entrances a .bg {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 171px;
	height: 30px;
	opacity: .8;
	filter: alpha(opacity=80)
}

.floor-main .side .entrances a:hover .bg {
	opacity: .95;
	filter: alpha(opacity=95)
}

.floor-main .side .entrances a i {
	position: relative;
	z-index: 2;
	width: 16px;
	padding-left: 8px;
	font-size: 14px;
	cursor: pointer
}

.floor-main .side .entrances a em {
	position: relative;
	z-index: 2;
	font-family: 'microsoft yahei'
}

.floor-main .side .brands {
	width: 170px;
	height: 159px;
	margin: 0 auto;
	padding-top: 1px;
	background: #fff;
	overflow: hidden
}

.floor-main .side .brands li {
	float: left;
	width: 85px;
	height: 53px
}

.floor-main .side .brands li.item1,
.floor-main .side .brands li.item3,
.floor-main .side .brands li.item5 {
	border-bottom: 1px solid #eee
}

.floor-main .side .brands li.item2,
.floor-main .side .brands li.item4,
.floor-main .side .brands li.item6 {
	margin-right: -5px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee
}

.floor-main .side .brands li a {
	display: block;
	height: 41px;
	padding-top: 12px
}

.floor-main .side .brands li img {
	display: block;
	width: 80px;
	height: 30px;
	margin: 0 auto
}

.floor-main .main-col {
	display: none;
	float: left;
	width: 799px;
	height: 439px;
	margin-right: -10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	overflow: hidden
}

.root1200 .floor-main .main-col {
	width: 999px
}

.floor-main .col1 {
	float: left;
	width: 400px;
	height: 439px;
	border-bottom: 1px solid #eee;
	overflow: hidden
}

.floor-main .col1 img {
	display: block;
	width: 380px;
	height: 420px;
	margin: 10px 0 0 10px
}

.floor-main .col2 {
	position: relative;
	z-index: 2;
	float: left;
	width: 405px;
	height: 439px;
	margin-right: -20px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	overflow: hidden
}

.floor-main .col2 li {
	float: left;
	width: 199px;
	height: 219px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	overflow: hidden
}

.floor-main .col2 li img {
	display: block;
	width: 200px;
	height: 220px
}

.floor-main .col3 {
	float: right;
	width: 199px;
	height: 439px;
	margin-left: -10px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	background: #f5f5f5;
	overflow: hidden
}

.floor-main .col3 li {
	height: 146px;
	border-bottom: 1px solid #eee;
	font-size: 0;
	overflow: hidden
}

.floor-main .col3 li img {
	display: block;
	width: 200px;
	height: 147px
}

.floor-main .col4 {
	float: right;
	width: 199px;
	height: 439px;
	margin-left: -10px;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	background: #fff;
	overflow: hidden
}

.floor-main .col4 .title {
	position: relative;
	height: 53px;
	margin-bottom: 6px;
	overflow: hidden
}

.floor-main .col4 .title .line {
	position: absolute;
	left: 15px;
	top: 26px;
	width: 165px;
	height: 1px;
	background: #9e652b;
	overflow: hidden
}

.floor-main .col4 .title b {
	position: absolute;
	z-index: 2;
	left: 54px;
	top: 0;
	width: 87px;
	background: #fff;
	color: #9e652b;
	font: 14px/53px 'microsoft yahei';
	text-align: center
}

.floor-main .col4 .list {
	height: 350px;
	margin: 5px 18px 0 15px;
	overflow: hidden
}

.floor-main .col4 .list li {
	height: 60px;
	margin-bottom: 36px;
	font-size: 0;
	overflow: hidden
}

.floor-main .col4 .list li .num {
	float: left;
	width: 15px;
	height: 15px;
	background: url(../img/css-img/index.png)
}

.floor-main .col4 .list li.item1 .num {
	background-position: 0 -68px
}

.floor-main .col4 .list li.item2 .num {
	background-position: -15px -68px
}

.floor-main .col4 .list li.item3 .num {
	background-position: -30px -68px
}

.floor-main .col4 .list li.item4 .num {
	background-position: -45px -68px
}

.floor-main .col4 .list li .face {
	float: left;
	padding-left: 3px
}

.floor-main .col4 .list li .face img {
	display: block;
	width: 60px;
	height: 60px
}

.floor-main .col4 .list li .info {
	padding-left: 80px
}

.floor-main .col4 .list li .info .name {
	height: 34px;
	overflow: hidden
}

.floor-main .col4 .list li .info .name a {
	color: #666;
	font: 12px/1.5 'microsoft yahei'
}

.floor-main .col4 .list li .info .name a:hover {
	color: #f60
}

.floor-main .col4 .list li .info .price {
	margin-top: 2px
}

.floor-main .main-col .prd-list {
	width: 1050px;
	height: 209px;
	padding-top: 10px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	cursor: pointer
}

.floor-main .main-col .prd-list li {
	float: left;
	width: 189px;
	height: 198px;
	padding: 0 5px;
	border-right: 1px solid #eee;
	text-align: center;
	overflow: hidden
}

.floor-main .main-col .prd-list li .face {
	padding-top: 22px
}

.floor-main .main-col .prd-list li .face img {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto
}

.floor-main .main-col .prd-list li .name {
	height: 17px;
	padding-top: 14px;
	overflow: hidden
}

.floor-main .main-col .prd-list li .name a {
	color: #666;
	font-family: 'microsoft yahei'
}

.floor-main .main-col .prd-list li .name a:hover {
	color: #f60
}

.floor .price {
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden
}

.floor .price i {
	margin-right: 5px;
	font-family: arial
}

.floor .price span {
	font-family: tahoma
}

.floor .price span b {
	font-size: 20px
}

.floor1 .floor-head,
.floor1 .floor-head .tab li.on {
	border-color: #aed55a
}

.floor1 .floor-head .tab li i {
	color: #aed55a
}

.floor1 .floor-main .side {
	background: #f0f78b
}

.floor1 .floor-main .side .entrances a .bg {
	background-color: #87b329
}

.floor2 .floor-head,
.floor2 .floor-head .tab li.on {
	border-color: #61b3ff
}

.floor2 .floor-head .tab li i {
	color: #61b3ff
}

.floor2 .floor-main .side {
	background: #c4e6e7
}

.floor2 .floor-main .side .entrances a .bg {
	background-color: #50abff
}

.floor3 .floor-head,
.floor3 .floor-head .tab li.on {
	border-color: #ff6565
}

.floor3 .floor-head .tab li i {
	color: #ff6565
}

.floor3 .floor-main .side {
	background: #f0d9ba
}

.floor3 .floor-main .side .entrances a .bg {
	background-color: #ff5d47
}

.floor4 .floor-head,
.floor4 .floor-head .tab li.on {
	border-color: #ff6b80
}

.floor4 .floor-head .tab li i {
	color: #ff6b80
}

.floor4 .floor-main .side {
	background: #ffd4c1
}

.floor4 .floor-main .side .entrances a .bg {
	background-color: #cf3c47
}

.floor5 .floor-head,
.floor5 .floor-head .tab li.on {
	border-color: #7cbb2e
}

.floor5 .floor-head .tab li i {
	color: #7cbb2e
}

.floor5 .floor-main .side {
	background: #f0f1bb
}

.floor5 .floor-main .side .entrances a .bg {
	background-color: #7dbb2f
}

.floor6 .floor-head,
.floor6 .floor-head .tab li.on {
	border-color: #fb7292
}

.floor6 .floor-head .tab li i {
	color: #fb7292
}

.floor6 .floor-main .side {
	background: #ead3ed
}

.floor6 .floor-main .side .entrances a .bg {
	background-color: #fb7292
}

.floor7 .floor-head,
.floor7 .floor-head .tab li.on {
	border-color: #ff9901
}

.floor7 .floor-head .tab li i {
	color: #ff9901
}

.floor7 .floor-main .side {
	background: #f6f2b1
}

.floor7 .floor-main .side .entrances a .bg {
	background-color: #ff9901
}

.floor8 .floor-head,
.floor8 .floor-head .tab li.on {
	border-color: #6d93ff
}

.floor8 .floor-head .tab li i {
	color: #6d93ff
}

.floor8 .floor-main .side {
	background: #c9baf0
}

.floor8 .floor-main .side .entrances a .bg {
	background-color: #50abff
}

.floor9 .floor-head,
.floor9 .floor-head .tab li.on {
	border-color: #356acb
}

.floor9 .floor-head .tab li i {
	color: #356acb
}

.floor9 .floor-main .side {
	background: #bbe2f1
}

.floor9 .floor-main .side .entrances a .bg {
	background-color: #366bcb
}

.floor10 .floor-head,
.floor10 .floor-head .tab li.on {
	border-color: #9e652b
}

.floor10 .floor-head .tab li i {
	color: #9e652b
}

.floor10 .floor-main .side {
	background: #ffebc0
}

.floor10 .floor-main .side .entrances a .bg {
	background-color: #9e652b
}

.floor11 .floor-head,
.floor11 .floor-head .tab li.on {
	border-color: #35bfcb
}

.floor11 .floor-head .tab li i {
	color: #35bfcb
}

.floor11 .floor-main .side {
	background: #bbf1d1
}

.floor11 .floor-main .side .entrances a .bg {
	background-color: #35bfcb
}

.floor-middle-act {
	margin-top: 20px;
	font-size: 0
}

.floor-middle-act img {
	display: block;
	width: 990px;
	height: 100px
}

.root1200 .floor-middle-act img {
	width: 1190px
}

.floor-zone {
	margin-top: 20px
}

.floor-zone-head {
	height: 35px;
	color: #222;
	overflow: hidden
}

.floor-zone-head h3 {
	float: left;
	font: bold 20px/40px 'microsoft yahei'
}

.floor-zone-head h4 {
	float: left;
	padding-left: 6px;
	font: normal 12px/46px arial
}

.floor-zone-main {
	position: relative;
	height: 318px
}

.floor-zone-main .switch-btn {
	position: absolute;
	z-index: 100;
	top: 102px;
	width: 40px;
	height: 74px;
	cursor: pointer;
	overflow: hidden
}

.floor-zone-main .switch-btn .btn-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 40px;
	height: 74px;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-transition: opacity .2s linear 0;
	transition: opacity .2s linear 0
}

.floor-zone-main .switch-btn:hover .btn-bg {
	opacity: .65;
	filter: alpha(opacity=65)
}

.floor-zone-main .switch-prev {
	display: none;
	left: 189px
}

.floor-zone-main .switch-next {
	display: none;
	right: 0
}

.floor-zone-main .switch-btn .arr {
	position: absolute;
	z-index: 2;
	top: 16px;
	width: 21px;
	height: 42px;
	background: url(../img/css-img/index.png) no-repeat;
	overflow: hidden
}

.floor-zone-main .switch-prev .arr {
	left: 9px;
	background-position: -69px 0
}

.floor-zone-main .switch-next .arr {
	right: 9px;
	background-position: -92px 0
}

.floor-zone .entrances {
	float: left;
	width: 188px;
	height: 316px;
	border: 1px solid #eee
}

.floor-zone .entrances .head {
	position: relative;
	width: 190px;
	height: 28px;
	margin: -1px -1px 0;
	background: #fa0;
	font: 14px/28px 'microsoft yahei';
	overflow: hidden
}

.floor-zone .entrances .head a {
	display: block;
	height: 28px;
	color: #fff;
	cursor: pointer
}

.floor-zone .entrances .head a:hover {
	color: #fff;
	text-decoration: none
}

.floor-zone .entrances .head span {
	float: left;
	padding-left: 15px
}

.floor-zone .entrances .head a:hover span {
	text-decoration: underline
}

.floor-zone .entrances .head i {
	float: right;
	padding-right: 10px;
	font-family: simsun
}

.floor-zone .entrances .main {
	height: 270px;
	overflow: hidden
}

.floor-zone .entrances .main li {
	float: left;
	margin-top: 22px;
	padding: 0 20px
}

.floor-zone .entrances .main a {
	display: block;
	width: 54px;
	height: 65px;
	color: #666;
	font-family: 'microsoft yahei';
	text-align: center;
	cursor: pointer;
	overflow: hidden
}

.floor-zone .entrances .main a:hover {
	color: #fa0;
	text-decoration: none
}

.floor-zone .entrances .main a .ng-iconfont {
	display: block;
	height: 32px;
	margin-bottom: 5px;
	color: #444;
	font-size: 32px;
	text-align: center;
	line-height: 34px;
	overflow: hidden
}

.floor-zone .entrances .main a:hover .ng-iconfont {
	color: #fa0
}

.floor-zone .hots-and-share {
	position: relative;
	float: left;
	width: 799px;
	height: 317px;
	margin-right: -10px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	overflow: hidden
}

.root1200 .floor-zone .hots-and-share {
	width: 999px
}

.floor-zone .hots-and-share-main {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 999em
}

.floor-zone .banner-pager {
	position: absolute;
	z-index: 999;
	top: 296px;
	left: 50%;
	height: 13px;
	margin-left: -26px;
	overflow: hidden
}

.floor-zone .banner-pager .pager {
	float: left;
	height: 13px;
	padding-left: 2px;
	background: url(../img/css-img/index.png) 0 -84px
}

.floor-zone .banner-pager .pager li {
	display: inline;
	float: left;
	width: 12px;
	height: 5px;
	margin: 4px 0 0 3px;
	background: #fff;
	overflow: hidden
}

.floor-zone .banner-pager .pager li.current {
	background: #fa0
}

.floor-zone .banner-pager .pager-radius {
	float: left;
	width: 5px;
	height: 13px;
	background: url(../img/css-img/index.png) right -84px;
	overflow: hidden
}

.floor-zone .hots-and-share-item {
	float: left;
	width: 800px;
	height: 298px;
	border-top: 1px solid #eee
}

.root1200 .floor-zone .hots-and-share-item {
	width: 1000px
}

.floor-zone .hots-and-share-item textarea {
	visibility: hidden;
	border: 0 none;
	color: #fff
}

.floor-zone .hots {
	float: left;
	width: 580px;
	height: 289px;
	padding: 9px 10px 0;
	overflow: hidden
}

.floor-zone .hots .hots-prom {
	float: left
}

.floor-zone .hots .hots-prom img {
	display: block;
	width: 390px;
	height: 280px
}

.floor-zone .hots .hots-items {
	padding-left: 403px
}

.floor-zone .hots .hots-items h4 {
	font: normal 14px/1.5 'microsoft yahei'
}

.floor-zone .hots .items-list {
	height: 242px;
	margin-top: 8px;
	overflow: hidden
}

.floor-zone .hots .items-list li {
	height: 18px;
	margin-bottom: 14px;
	font-size: 0;
	font-family: 'microsoft yahei';
	overflow: hidden
}

.floor-zone .hots .items-list span {
	font-size: 12px;
	color: #999
}

.floor-zone .hots .items-list a {
	font-size: 12px
}

.floor-zone .share-orders {
	float: left;
	width: 198px;
	height: 316px;
	margin-right: -20px;
	padding-left: 20px;
	overflow: hidden
}

.root1200 .floor-zone .share-orders {
	width: 379px
}

.floor-zone .share-orders h4 {
	height: 36px;
	font: normal 14px/36px 'microsoft yahei';
	overflow: hidden
}

.floor-zone .share-orders .share-items {
	position: relative;
	height: 250px;
	overflow: hidden
}

.floor-zone .share-orders .share-items li {
	display: inline;
	float: left;
	width: 170px;
	height: 255px;
	margin-right: 15px
}

.floor-zone .share-orders .share-items .face {
	position: relative;
	height: 170px;
	overflow: hidden
}

.floor-zone .share-orders .share-items .face img {
	display: block;
	width: 170px;
	height: 170px
}

.floor-zone .share-orders .share-items .name {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 170px;
	height: 30px
}

.floor-zone .share-orders .share-items .name-bg {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 170px;
	height: 30px;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50)
}

.floor-zone .share-orders .share-items .name-txt {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 170px;
	height: 30px;
	line-height: 30px;
	text-indent: 12px;
	overflow: hidden
}

.floor-zone .share-orders .share-items .name-txt a,
.floor-zone .share-orders .share-items .name-txt a:hover {
	color: #fff
}

.floor-zone .share-orders .share-items .detail {
	margin-top: 6px
}

.floor-zone .share-orders .share-items .detail dt {
	height: 32px;
	overflow: hidden
}

.floor-zone .share-orders .share-items .detail dt img {
	width: 32px;
	height: 32px;
	margin-right: 8px;
	vertical-align: middle
}

.floor-zone .share-orders .share-items .detail dd {
	position: relative;
	height: 35px;
	margin-top: 6px;
	padding-left: 2px;
	overflow: hidden
}

.floor-zone .share-orders .share-items .detail dd a {
	font-family: 'microsoft yahei'
}

.floor-zone .share-orders .share-items .detail dd i {
	position: absolute;
	right: 0;
	bottom: 0;
	*bottom: 1px;
	width: 12px;
	height: 15px;
	background: url(../img/css-img/index.png) -17px -31px;
	overflow: hidden
}

.ECode-floatBar {
	display: none
}

.floor-guide {
	width: 32px;
	font-size: 0;
	overflow: hidden
}

.floor-guide li {
	height: 40px;
	margin-top: -1px;
	border-top: 1px solid #ddd;
	background: #f4f4f4;
	text-align: center;
	overflow: hidden
}

.floor-guide li a {
	display: block
}

.floor-guide li a:hover {
	text-decoration: none
}

.floor-guide li a.name {
	display: none;
	height: 33px;
	padding-top: 7px;
	background: #fff;
	color: #222;
	font: 12px/13px 'microsfot yahei'
}

.floor-guide li.on a.name,
.floor-guide li.hover a.name {
	display: block
}

.floor-guide li a.icon {
	line-height: 40px;
	color: #b8b8b8;
	font-size: 22px
}

.floor-guide li.on a.icon,
.floor-guide li.hover a.icon {
	display: none
}

.recmd-active {
	display: none;
	position: fixed;
	z-index: 1000095;
	left: -990px;
	top: 50%;
	margin-top: -280px
}

.root1200 .recmd-active {
	left: -1190px
}

.recmd-active .btn {
	position: absolute;
	z-index: 4;
	top: 250px;
	right: -30px;
	width: 51px;
	height: 62px;
	background: url(../img/css-img/index.png);
	cursor: pointer
}

.recmd-active .btn-open {
	width: 34px;
	height: 62px;
	right: -34px;
	background-position: -60px -98px
}

.recmd-active .btn-close {
	background-position: 0 -98px
}

.recmd-active .pic {
	width: 990px;
	height: 560px;
	overflow: hidden
}

.root1200 .recmd-active .pic {
	width: 1190px
}

.recmd-active .pic img {
	display: block;
	width: 1190px;
	height: 560px;
	margin: 0 -100px
}

.root1200 .recmd-active .pic img {
	margin: 0
}

.recmd-flag {
	position: absolute;
	left: 5px;
	bottom: 60px
}

.recmd-active .btn-close .recmd-flag {
	display: none
}

.new-user {
	display: none;
	position: fixed;
	z-index: 1000097;
	top: 50%;
	margin-top: -160px;
	left: 50%;
	margin-left: -300px
}

.new-user .new-pic {
	width: 594px;
	height: 314px;
	overflow: hidden
}

.new-user img {
	display: block;
	width: 600px;
	height: 320px
}

.new-user .close {
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(../img/css-img/index.png) no-repeat;
	overflow: hidden;
	cursor: pointer
}

.dialog-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	opacity: .6;
	filter: Alpha(opacity=60) \9;
	z-index: 1000096
}

.browser-zoom-tip {
	height: 40px;
	background: #fffaec;
	line-height: 40px;
	text-align: center;
	color: #222
}

.browser-zoom-tip b {
	display: inline-block;
	border: solid 1px #BBB;
	border-radius: 3px;
	padding: 0 5px;
	margin: 0 5px;
	line-height: 16px;
	background: #FFF;
	vertical-align: middle
}

.browser-zoom-tip .noagain {
	color: #2272c8
}

.browser-zoom-tip .close {
	float: right;
	font: normal 18px/40px \5b8b\4f53;
	color: #999;
	text-decoration: none
}

.browser-zoom-tip i {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url(../img/css-img/index.png) -35px -48px;
	vertical-align: middle
}

.doubleEleven {
	position: relative;
	width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
	min-width: 990px
}

.root1200 .doubleEleven {
	min-width: 1190px
}

.enter-bg {
	position: relative;
	display: block;
	width: 1920px;
	height: 520px;
	left: 50%;
	top: 0;
	margin-left: -960px
}

.enter-wrapper {
	position: relative;
	width: 990px;
	height: 520px;
	margin: 0 auto
}

.enter-wrapper .enter-main {
	position: absolute;
	display: block;
	width: 165px;
	height: 35px;
	top: 94px;
	left: 0;
}

.enter-wrapper .enter-huichang {
	float: left;
	width: 800px;
	height: 300px;
	margin: 40px 0 0 190px;
	overflow: hidden;
	_display: inline
}

.enter-wrapper .enter-huichang li {
	float: left;
	width: 190px;
	height: 140px;
	margin: 0 0 10px 10px;
	_display: inline
}

.enter-wrapper .enter-huichang li img {
	display: block;
	width: 190px;
	height: 140px
}

.enter-wrapper .enter-pindao {
	float: left;
	width: 990px;
	height: 180px
}

.enter-wrapper .enter-pindao li {
	float: left;
	width: 250px;
	height: 180px;
	overflow: hidden
}

.enter-wrapper .enter-pindao li.pindao1 {
	width: 240px
}

.enter-wrapper .enter-pindao li img {
	display: block;
	width: 300px;
	height: 180px
}

.enter-wrapper .enter-pindao li.pindao1 img {
	width: 290px
}

.root1200 .enter-wrapper {
	width: 1190px
}

.root1200 .enter-wrapper .enter-huichang {
	width: 1000px
}

.root1200 .enter-wrapper .enter-pindao {
	width: 1190px
}

.root1200 .enter-wrapper .enter-pindao li {
	width: 300px
}

.root1200 .enter-wrapper .enter-pindao li.pindao1 {
	width: 290px
}

.room-pic {
	position: relative;
	height: 80px;
	overflow: hidden
}

.room-pic img {
	position: absolute;
	left: -100px;
	display: block;
	height: 80px;
	overflow: hidden
}

.ranking-room {
	width: 1200px;
	overflow: hidden;
	padding-bottom: 22px
}

.table-box {
	position: relative;
	float: left;
	width: 490px;
	height: 280px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden
}

.table-box table {
	width: 490px
}

.table-box .rank-title,
.table-box .rank-item {
	height: 40px;
	border-collapse: collapse
}

.table-box .rank-title td,
.table-box .rank-item td {
	height: 40px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden
}

.table-box .rank-room {
	width: 390px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	color: #fff
}

.table-box .rank-room .ng-iconfont {
	width: 26px;
	padding-right: 7px;
	font-size: 26px
}

.table-box .rank-room span {
	font: bold 18px/40px 'Microsoft YaHei'
}

.table-box .rank-title {
	background-color: #eee
}

.table-box .rank-title td {
	font-family: "Microsoft YaHei";
	color: #999
}

.table-box .rank-title .rank {
	width: 30px;
	padding-left: 10px;
	background-color: #e5e5e5
}

.table-box .rank-title .name {
	width: 182px;
	padding-left: 8px
}

.table-box .rank-title .rank-price {
	width: 36px;
	padding-left: 59px
}

.table-box .rank-title .discount {
	width: 36px;
	padding-left: 28px;
	overflow: hidden
}

.table-box .rank-item {
	background: #fff
}

.table-box .rank-item .rank {
	padding-left: 11px;
	width: 29px;
	background-color: #f5f5f5
}

.table-box .rank-item .name {
	position: relative;
	width: 278px;
	height: 40px;
	padding-left: 12px;
	line-height: 40px;
	overflow: hidden
}

.table-box .rank-item .name .name-desc {
	width: 278px;
	overflow: hidden;
	height: 40px
}

.table-box .rank-item .name a {
	position: relative;
	font-family: "Microsoft YaHei";
	color: #666
}

.table-box .rank-item .name a:hover {
	color: #f60
}

.table-box .rank-item .rank-price {
	width: 95px;
	text-align: right;
	overflow: hidden
}

.table-box .rank-item .rank-price .price em {
	font-family: "Verdana";
	font-weight: bold
}

.table-box .rank-item .rank-price .price i {
	font-family: "Microsoft YaHei"
}

.table-box .rank-item .discount {
	width: 43px;
	padding-left: 22px;
	color: #e00;
	overflow: hidden
}

.table-box .rank-item .rank-bg {
	display: block;
	position: relative;
	width: 20px;
	height: 16px;
	text-align: center
}

.table-box .rank-item .rank-next {
	height: 20px;
	background-color: #fff;
	opacity: .7;
	filter: alpha(opacity=70)
}

.table-box .rank-item .rank-bg .arr {
	position: absolute;
	left: 0;
	top: 16px;
	width: 0;
	height: 0;
	border-top: solid 4px;
	border-left: solid 10px #f5f5f5;
	border-right: solid 10px #f5f5f5;
	font-size: 0
}

.table-box .rank-item em {
	color: #666;
	padding-left: 6px;
	font: bold 14px/18px 'Microsoft YaHei'
}

.table-box .rank-item .rank-bg em {
	color: #fff;
	padding-left: 0
}

.root1200 .table-box {
	width: 390px
}

.root1200 .table-box table {
	width: 390px
}

.root1200 .table-box .rank-item .name .name-desc {
	width: 178px
}

.root1200 .table-box .rank-item .name {
	width: 178px
}

.root1200 .room-pic img {
	left: 0
}

.floor-recommend {
	margin-top: 21px;
	font-family: arial, tahoma, 'microsoft yahei'
}

.floor-recommend-header {
	height: 38px
}

.floor-recommend-header h3 {
	line-height: 38px;
	color: #222;
	font-size: 20px;
	font-weight: bold
}

.floor-recommend-header h4 {
	padding: 15px 0 0 8px;
	color: #999
}

.floor-recommend-change {
	margin: 15px 9px 0 0;
	color: #333
}

.floor-recommend-change:hover {
	color: #F60
}

.floor-recommend-little {
	color: #333
}

.floor-recommend-body {
	height: 259px;
	border: 1px solid #f0f0f0;
	clear: both;
	overflow: hidden
}

.floor-recommend-list {
	position: relative;
	height: 259px;
	overflow: hidden
}

.floor-recommend-item {
	float: left;
	position: relative;
	width: 198px;
	margin-left: -1px;
	padding: 17px 0 20px 0;
	_width: 198px
}

.root1200 .floor-recommend-item {
	width: 199px
}

.floor-recommend-body .recommend-img-box {
	padding: 20px 24px 8px 24px;
	border-left: 1px dotted #e9e9e9;
	_padding: 20px 23px 8px 23px
}

.floor-recommend-body .recommend-img {
	display: block;
	width: 150px;
	height: 150px
}

.floor-recommend-body .recommend-name,
.floor-recommend-body .recommend-price {
	padding: 0 25px
}

.floor-recommend-body .recommend-name a {
	display: block;
	width: 141px;
	height: 14px;
	line-height: 14px;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden
}

.floor-recommend-body .recommend-name a:hover {
	color: #F60
}

.floor-recommend-body .recommend-price {
	height: 25px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden
}

.floor-recommend-body .recommend-price i {
	margin-right: 5px;
	font-family: arial
}

.floor-recommend-body .recommend-price b {
	font-size: 20px
}

.floor-recommend-body .recommend-price span {
	font-family: tahoma
}

.floor-recommend-body .recommend-promotion {
	position: absolute;
	right: 33px;
	bottom: 21px;
	padding: 0 4px;
	background-color: #f70;
	color: #FFF
}

.brand-enter {
	margin-top: 20px
}

.brand-enter .hot-brand-img {
	float: left;
	width: 190px;
	height: 317px;
	overflow: hidden
}

.brand-enter .hot-brand-img img {
	display: block;
	width: 190px;
	height: 320px
}

.brand-enter .hot-brand-list {
	float: right;
	width: 800px;
	height: 317px;
	overflow: hidden
}

.root1200 .brand-enter .hot-brand-list {
	width: 1000px
}

.brand-enter .hot-brand-list li {
	float: left;
	width: 158px;
	height: 78px;
	border: 1px solid #eee;
	margin-right: -1px;
	margin-bottom: -1px
}

.root1200 .hot-brand-list li {
	width: 165px
}

.brand-enter .hot-brand-list li.item-05 {
	width: 162px
}

.root1200 .brand-enter .hot-brand-list li.item-05 {
	width: 165px
}

.root1200 .brand-enter .hot-brand-list li.item-06 {
	width: 168px
}

.brand-enter .hot-brand-list li img {
	display: block;
	width: 100px;
	height: 50px;
	margin: 16px auto 0
}

.ng-header a.logo-set {
	float: left;
	height: 90px;
	width: 190px
}

.ng-header a.logo-set img {
	display: block;
	width: 190px;
	height: 90px
}

.snow-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	pointer-events: none;
	z-index: 100001
}