<audio id="mp3_element" autoplay="autoplay" loop="loop" src="../../../assets/mp3/南征北战%20-%20生来倔强.mp3"></audio>
<div class="music play" title="点击暂停播放">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
<div id="full_screen">
  <div class="section start section1">
    <!--<h3>第一屏</h3>-->
    <h6>HOME</h6>
    <div class="center-bg">
      <img src="../../../assets/img/bg_02.png" alt="">
    </div>
    <div class="title-box">
      <p class="title">为了梦想</p>
      <p class="title">加油少年</p>
    </div>
  </div>
  <div class="section section2">
    <h6>SKILLS</h6>
    <ul>
      <li><span class="small">HTML<br/><small>+CSS</small></span></li>
      <li><span>JQ</span></li>
      <li><span>JS</span></li>
      <li><span>NG4</span></li>
      <li><span>H5</span></li>
      <li><span>PS</span></li>
    </ul>
  </div>
  <div class="section section3">
    <h6>PC&nbsp;WEB</h6>
    <div class="view-box view_box">
      <div class="img-box">
        <ul>
          <li><a href="http://www.ehuigou.com/" target="_blank"><img src="../../../assets/img/banner_01.png" alt=""></a></li>
          <li><a href="../../../assets/items/huawei/index.html" target="_blank"><img src="../../../assets/img/banner_02.png" alt=""></a></li>
          <li><a href="../../../assets/items/yintai/index.html" target="_blank"><img src="../../../assets/img/banner_03.png" alt=""></a></li>
          <li><a href="../../../assets/items/suning/index.html" target="_blank"><img src="../../../assets/img/banner_04.png" alt=""></a></li>
          <li><a href="../../../assets/items/tianmao/index.html" target="_blank"><img src="../../../assets/img/banner_05.png" alt=""></a></li>
          <li><a href="http://www.szvc.com.cn/" target="_blank"><img src="../../../assets/img/banner_06.png" alt=""></a></li>
        </ul>
      </div>
      <ol>
        <li class="left-btn left_btn">
          <span class="icon iconfont icon-chevron-left"></span></li>
        <li class="right-btn right_btn">
          <span class="icon iconfont icon-chevronright"></span></li>
      </ol>
    </div>
  </div>
  <div class="section section4">
    <h6>ICON</h6>
    <div class="view-box">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <div class="section section5">
    <h6>MOBILE&nbsp;WEB</h6>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="section section6">
    <h6>BIG SCREEN</h6>
    <div class="view-box">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

  </div>

  <div class="section section7">
    <h6>ABOUT ME</h6>
    <div class="view-box">
      <div class="left">
        <p>姓名：冯超</p>
        <p>年龄：25</p>
        <p>性别：男</p>
        <p>职业：web前端</p>
      </div>
      <div class="right">
        <p>电话：13522055871</p>
        <p>微信：13522055871</p>
        <p>QQ：843379851</p>
        <p>邮箱：13522055871@163.com</p>
      </div>
      <div class="about-me">
        <img src="../../../assets/img/wx.jpg" alt="">
      </div>
    </div>
  </div>
</div>
